.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modalWrapper {
    background-color: white;
    width: 50%;
    max-height: 60%;
    border-radius: 20px;
  
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userNameInput{
    height: 40px;
    text-align: center;
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    color: #5c8c8b;
    margin-bottom: 20px;
}

.title{
    text-align: center;
    color : #6cb3b0;
    font-weight: 500;
    margin-bottom: 10px;
}
.title2{
    text-align: center;
    color : #6cb3b0;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    .modalWrapper {
        background-color: white;
        width: 90%;
        height: 90%;
        border-radius: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}